*,*::before,*::after{
    margin: 0%;
    padding: 0%;
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
    background-color: rgb(224, 191, 255); 
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.circle{
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: relative;
}
.circle2{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation:rotate 3s linear infinite;
    position: absolute;
    top: -16px;
    left:-16px;
  }
  .circle2::before {
    content: "Loding";
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #3498db;
    position: absolute;
    display: block;
    top: 15px;
    left: 15px;
  }

@keyframes rotate{
    0% { transform: rotate(0deg); border-top: 16px solid #3498db;opacity: 100%;}
    25%{transform: rotate(0deg); border-right:16px solid #3498db;opacity: 75%;}
    50%{transform: rotate(0deg); border-bottom:16px solid #3498db;opacity: 50%;}
    75%{transform: rotate(0deg);border-left:16px solid #3498db; opacity: 75%;} 
    100%{transform: rotate(0deg);border-top: 16px solid #3498db;opacity: 100%; } 
}
